body {
    margin:5px;
    padding:0px;
}
p {
    font-size: 18px;
}

.header__logo {
    width:300px;
}
.header__nav {
    background-color:grey;
}
.header__nav {
    color:black;
}
.header__ref {
    text-decoration: none;
    color: white;
}

.contacts__img {
    width: 200px;
}
.contcats__razrabotchiki {
    column-count: 2;
    column-gap: 10px;
    display: flex;
    justify-content: center;
}
.contacts__txt {
    text-align: center;
}
